<div class="page-header">
  <h1>{{ 'tasks' | translate}}</h1>
</div>
<a href ng-click="new_task()" class="btn btn-primary btn-primary">
  <span class="glyphicon glyphicon-plus-sign"></span>
  {{ 'new_task' | translate}}
</a>

<table class="table">
  {{projects}}
</table>