<div class="page-header">
  <h1>{{ 'tasks' | translate}}</h1>
  <a href ng-click="save()" class="btn btn-primary btn-primary">
    <span class="glyphicon glyphicon-plus-sign"></span>
    {{ 'new_task' | translate}}
  </a>
</div>
<span class="text-muted pull-right">{{'total_tasks'|translate}}: {{tasks.length}}</span>


<div class="tasks-list">
  <div ng-include="'/assets/index.html'">
</div>