<div class="page-header">
  <h1>{{ 'tasks' | translate}}</h1>
  <a href ng-click="save()" class="btn btn-primary btn-primary">
    <span class="glyphicon glyphicon-plus-sign"></span>
    {{ 'new_task' | translate}}
  </a>
</div>
<span class="text-muted pull-right">{{'total_tasks'|translate}}: {{tasks.length}}</span>
<table class="table table-hover tasks-list">
  <tr ng-repeat="task in tasks" ng-class="{'text-muted':table.status==1}">
    <td>{{task.name}}</td>
    <td class="nav"><a href title="{{'edit'|translate}}" ng-click="save(task)" class="glyphicon glyphicon-edit"></a></td>
    <td class="nav"><a href title="{{'remove'|translate}}" ng-click="remove(task)" class="glyphicon glyphicon-remove-sign"></a></td>
  </tr>
</table>